:root{
  --principal-color: #254d32;
  --analog-color: #69B578;
  --complementary-color: #E8AEB7;
  --base-color: #fff;
  --gray: #656565;
  --light-gray: #C1C1C1;
}

* {
  margin: 0;
  display: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--principal-color);
}

.titleFontFamily{
  font-family: 'MuseoModerno', sans-serif;
}

.lighter-font{
  font-weight: lighter;
}

.bolder-font{
  font-weight: bolder;
}

.principal-color{
  color: var(--principal-color);
}

.analog-color{
  color: var(--analog-color);
}

.complementary-color{
  color: var(--complementary-color);
}

.overflowHidden{
  overflow: hidden;
}

.overflowAuto{
  overflow: auto;
}

a,
a:hover,
a:visited,
a:active{
  color: unset;
  text-decoration: none;
}

hr{
  height: 1px;
  border: none;
  margin: auto 4vw;
  background-color: var(--light-gray);
}

.marginScrollbar{
  padding-right: 18px;
}

.arrow{
  font-size: 18px;
  color: var(--gray);
  background: #fff;
  padding: 12px 16px;
  /* box-shadow: 0 0 8px #fff; */
  border-radius: 28px;
}