:root{
  --principal-color: #254d32;
  --analog-color: #69B578;
  --complementary-color: #E8AEB7;
  --base-color: #fff;
  --gray: #656565;
  --light-gray: #C1C1C1;
}

* {
  margin: 0;
  display: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--principal-color);
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.titleFontFamily{
  font-family: 'MuseoModerno', sans-serif;
}

.lighter-font{
  font-weight: lighter;
}

.bolder-font{
  font-weight: bolder;
}

.principal-color{
  color: var(--principal-color);
}

.analog-color{
  color: var(--analog-color);
}

.complementary-color{
  color: var(--complementary-color);
}

.overflowHidden{
  overflow: hidden;
}

.overflowAuto{
  overflow: auto;
}

.all-width-45{
  max-width: 45%;
}

a,
a:hover,
a:visited,
a:active{
  color: unset;
  text-decoration: none;
}

hr{
  height: 1px;
  border: none;
  margin: 8vh 4vw;
  background-color: var(--light-gray);
}

.arrow{
  font-size: 18px;
  color: var(--gray);
  background: #fff;
  padding: 12px 16px;
  border-radius: 28px;
}

.principalImage{
  min-height: 55vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background: radial-gradient(#000 -1px, transparent 1px);
  background-size: 23px 23px;
  gap: 5vh 5vw;
}

.min-gap{
  gap: 1vh 1vw;
}

.verticalImage{
  max-height: 45vh;
}

.horizontalImage{
  max-width: calc(45% - 10vh);
}

.fullImage{
  max-width: 100%;
}

.imageShadow{
  box-shadow: 0px 0px 8px rgb(0 0 0 / 20%);
}

.imageBorderRadius{
  border-radius: 5px;
}

.projectData{
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  text-transform: uppercase;
  color: var(--gray);
}

.principalImage .projectData{
  color: #000;
  margin-top: 20px;
}

.align-start{
  align-items: flex-start;
}

img,
video {
  max-width: 100%;
  height: auto;
}