.showDesktop{
  display: none;
}

.showMobile{
  display: initial;
}

/* HEADER */
header{
  color: var(--analog-color);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5vw;
  position: absolute;
  top: 0;
  height: 100vh;
  flex-direction: column;
}
.ini-mark{
  width: 20px;
}
.contact{
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  color: var(--analog-color);
  display: flex;
  flex-direction: column;
}

/* PRESENTATION */
.presentation{
  height: 100vh;
  width: 85%;
  margin: auto;
  display: flex;
}
.principal-mark{
  width: 100%;
}
.pill-1,
.pill-2{
  position: absolute;
  background-color: var(--complementary-color);
  color: var(--principal-color);
  padding: 10px 20px;
  border-radius: 16px;
  font-size: 10px;                                    
}
.pill-1{
  top: 28vh;
}
.pill-2{
  bottom: 28vh;
  right: 8%;
}

/* MAIN */
main{
  background-color: var(--base-color);
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

main .header{
  display: flex;
  flex-direction: column-reverse;
}

article{
  padding: 3vh 0 3vh 4vw;
  overflow: hidden;
}

.projectHeader,
.principalImage{
  width: 100%;
  margin-top: 5vh;
}

.projectHeader{
  padding-right: 4vw;
}

.projectHeader h3{
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.tags{
  display: none;
}

.tags .tag{
  margin: 0 10px 0 0;
  padding: 5px 10px;
  background-color: var(--analog-color);
  text-align: center;
  border-radius: 5px;
  font-size: 10px;
  color: var(--principal-color);
}

.introduction{
  margin: 3vh;
  color: var(--gray);
  text-align: center;
}

.introduction p{
  font-size: 12px;
  margin: 0 0 2vh 0;
}

.introduction .info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  margin-top: 5vh;
  text-transform: uppercase;
  align-items: center;
  flex-direction: column;
}

.introduction .projectData{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--complementary-color);
}

.seeImages{
  background-color: var(--base-color);
  padding: 6px 12px;
  text-align: center;
  border-radius: 16px;
  font-size: 10px;
  outline: none;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  border: 1px solid var(--principal-color);
  color: var(--principal-color);
}

.seeImages:focus{
  background-color: #fff;
}

.projectData{
  justify-content: space-around;
}

.principalImage{
  grid-template-rows: 45vh;
  margin: 4vh auto 0;
  overflow-x: auto;
}

#article2 .principalImage{
  grid-template-rows: 45vh;
}

.principalImage img{
  max-height: 280px;
  max-width: fit-content;
}